@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --letter-spacing: -0.02em;
}

* {
  letter-spacing: var(--letter-spacing);
}

body {
  font-family: var(--inter), sans-serif;
}

:root {
  --main-px: 60px;

  /* Main */
  --pry: #0062ff;
  --sec: #f4c430;

  /* Alerts */
  --success: #22c55e;
  --color-warning: #facc15;
  --color-error: #f75555;

  /* Greyscale */
  --gray-50: #fafafa;
  --gray-100: #f7fafc;
  --gray-200: #edf2f7;
  --gray-300: #e2e8f0;
  --gray-400: #cbd5e0;
  --gray-500: #a0aec0;
  --gray-600: #718096;
  --gray-700: #4a5568;
  --gray-800: #2d3748;
  --gray-900: #1a202c;

  /* Additional */
  --color-white: #ffffff;
  --color-orange: #fe964a;
  --color-blue: #0062ff;
  --color-purple: #8c62ff;
}
@media (max-width: 640px) {
  :root {
    --main-px: 20px;
  }
}

/* Prevent ShadCN from hiding scrollbar */
/* html body[data-scroll-locked] {
  margin-right: 0px !important;
  margin-left: 0px !important;
  overflow: visible !important;
} */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.scrollbar-hide::-webkit-scrollbar {
  width: 0px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: var(--gray-500);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--gray-600);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.ajasa,
.ajasa * {
  outline: 0.1px solid red !important;
}
